#editor {
    width: 100%;
    min-height: 300px;
    border: 1px solid #ccc;
    padding: 15px;
    background-color: white;
    font-size: 16px;
    outline: none; /* ရိုက်တဲ့အခါ ဘောင်အမည်းမပေါ်စေရန် */
}

#editor img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px auto;
}
